html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: lemon;
  src: url('https://manija-wahab.github.io/blog/blog_1/LemonMilkMedium-mLZYV.otf')
    format('opentype');
}

@font-face {
  font-family: lemon2;
  src: url('https://manija-wahab.github.io/blog/blog_1/LemonMilkLight-owxMq.otf')
    format('opentype');
}

.container {
  width: 100%;
}
img {
  width: 100vw;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4vw;
  font-family: lemon;
  color: rgb(56, 105, 54);
}

p {
  padding: 0 5% 0 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vw;
}

.h3 {
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
}

h3 {
  padding: 0 5% 0 5%;
  font-family: lemon2;
  font-size: 2vw;
  padding: 2%;
  border-radius: 30px;
  background-color: rgb(115, 251, 108);
  border: solid rgb(56, 105, 54) 5px;
  margin: 10px;
}
