/* Reset default margin, padding, and font size for certain elements */

html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

/* Custom fonts */

@font-face {
  font-family: newfont;
  src: url(/fonts/fast_hand/Fast\ Hand.otf);
}

@font-face {
  font-family: secondfont;
  src: url(/fonts/lemon-milk-font/LemonMilkRegular-X3XE2.otf);
}

@font-face {
  font-family: thirdfont;
  src: url(/fonts/lemon-milk-font/LemonMilkBold-gx2B3.otf);
}

/* Styling for the main heading */

h1 {
  font-family: newfont;
  font-size: 9vw;
  padding: 2rem;
  margin-left: 10%;
  color: rgb(255, 255, 255);
  opacity: 50%;
  text-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

/* Body background color */

body {
  background-color: lightpink;
  overflow-x: hidden;
}

/* Remove underline from links */

a {
  text-decoration: none;
}

/* Grid layout for the main container */

.container {
  width: 100%;
  overflow: hidden;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100vh 1fr;
  grid-auto-rows: min-content;
  grid-template-areas: 'header header header header links links links links' 'box1 box1 box1 box1 empty1 empty1 empty1 empty1' 'box1 box1 box1 box1 empty1 empty1 empty1 empty1' 'box1 box1 box1 box1 box2 box2 box2 box2' 'empty2 empty2 empty2 empty2 box2 box2 box2 box2' 'box3 box3 box3 box3 box2 box2 box2 box2' 'box3 box3 box3 box3 empty3 empty3 empty3 empty3' 'box3 box3 box3 box3 empty3 empty3 empty3 empty3' 'contain contain contain contain contain contain contain contain';
}

/* Styling for the header */

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the links section */

.links {
  grid-area: links;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Styling for buttons */

.btn {
  width: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.18);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.45);
  font-weight: bolder;
  font-family: secondfont;
  box-shadow: 0px 0px 20px 1px white;
  background-color: rgb(255, 255, 255);
}

/* old button styling before adding responsiveness */

/* .btn {
  padding: 2%;
  width: 40%;
  min-height: 5%;
  max-height: 10vh;
  margin: 3%;
  text-align: center;
  font-size: 1.5vw; 
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.18);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.45);
  font-weight: bolder;
  font-family: secondfont;
  color: rgb(255, 182, 193);
} */

/* .btn {
  padding: 2vh;
  width: 30vh;
  min-height: 5%;
  max-height: 10vh;
  margin: 3%;
  text-align: center;
  font-size: 100%;
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255, 0.18);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.45);
  font-weight: bolder;
  font-family: secondfont;
  color: rgb(255, 182, 193);
} */

/* Styling for the teleport button */

.teleport {
  padding: 2vh;
  width: 50vh;
  min-height: 5%;
  max-height: 20vh;
  margin: 3%;
  text-align: center;
  font-size: 3vw;
  font-family: thirdfont;
  color: white;
  text-shadow: 0px 0px 20px white;
}

/* Button variations with gradients */

.btn1,
.btn2,
.btn3,
.btn4 {
  padding: 2%;
  font-size: 1rem;
  color: lightpink;
}

/* Styling for the glass behind buttons */

.linksglass {
  aspect-ratio: 9/12;
  max-width: 70%;
  width: 100%;
  border-radius: 10%;
  margin: 10% 30% 10% 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Styling for the gap box */

.gap {
  grid-area: gap;
}

/* Styling for box1, empty, box2, empty2, box3, and empty3 */

.box1 {
  grid-area: box1;
}

.empty {
  grid-area: empty;
}

.box2 {
  grid-area: box2;
}

.empty2 {
  grid-area: empty2;
}

.box3 {
  grid-area: box3;
}

.empty3 {
  grid-area: empty3;
}

/* Styling for the contain box */

.contain {
  grid-area: contain;
}

/* Styling for the background circles */

.circles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
}

/* Individual circle styles */

#circle1,
#circle2,
#circle3,
#circle4,
#circle5,
#circle6,
#circle7,
#circle8 {
  display: flex;
  flex-direction: row;
}

#circle1 {
  justify-content: flex-end;
}

#circle3 {
  justify-content: flex-end;
}

#circle5 {
  justify-content: flex-end;
}

#circle7 {
  justify-content: flex-end;
}

.circle1 {
  width: 20vw;
  height: 20vw;
  border-radius: 30% 60% 50% 40%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

.circle2 {
  width: 25vw;
  height: 25vw;
  border-radius: 50% 50% 70% 40%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

.circle3 {
  width: 40vw;
  height: 40vw;
  border-radius: 50% 30% 70% 40%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

.circle4 {
  width: 30vw;
  height: 30vw;
  border-radius: 50% 70% 60% 80%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

.circle5 {
  width: 40%;
  height: 40vw;
  border-radius: 60% 70% 90% 70%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

.circle6 {
  width: 20%;
  height: 20vw;
  border-radius: 50% 30% 70% 40%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

.circle7 {
  width: 40%;
  height: 40vw;
  border-radius: 55% 80% 45% 70%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

.circle8 {
  width: 50%;
  height: 50vw;
  border-radius: 60% 50% 30% 80%;
  background-color: white;
  box-shadow: rgb(255, 255, 255) 0rem 0rem 2rem 0.5rem;
}

#details {
  padding: 10% 2% 10% 0%;
}

.detailsBox {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0% 5% 5% 0%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.765),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#aboutMe {
  padding: 10% 0% 10% 2%;
}

.aboutMeBox {
  height: 100%;
  text-align: left;
  background-color: white;
  border-radius: 0% 5% 5% 0%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.765),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#image {
  padding: 10% 2% 10% 0%;
}

.imageBox {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0% 5% 5% 0%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.765),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.fairy {
  padding: 0% 5% 10% 10%;
  width: 70%;
  height: 705;
}

img {
  border-radius: 10%;
}

.details,
.aboutMe,
.image {
  font-family: thirdfont;
  font-size: 2rem;
  padding: 10%;
  padding-top: 5%;
  color: lightpink;
  text-shadow: white 0px 0px 10px;
  text-shadow: 3px 3px 2px #ffffff, -3px 3px 2px #ffffff, -3px -3px 0 #ffffff,
    3px -3px 0 #ffffff;
}

.aboutMeTitle,
.blogsTitle,
.detailsTitle,
.imageTitle {
  font-family: newfont;
  font-size: 4vw;
  padding: 2rem 0rem 0rem 4rem;
  padding-bottom: 0;
  color: rgb(255, 255, 255);
  opacity: 50%;
  text-shadow: rgb(0, 0, 0) 2px 2px 5px;
}

.aboutMe,
.image {
  font-size: 1.5rem;
}

#details,
#aboutMe,
#image,
#blogs {
  height: min-content;
}

.empty1,
.empty2,
.empty3 {
  height: min-content;
}

.contain {
  height: 100%;
  padding: 0% 10% 10% 10%;
}

.blogsBox {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 0% 5% 5% 0%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.765),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.blog1 {
  font-family: thirdfont;
  color: lightpink;
  text-shadow: white 0px 0px 10px;
  text-shadow: 3px 3px 2px #ffffff, -3px 3px 2px #ffffff, -3px -3px 0 #ffffff,
    3px -3px 0 #ffffff;
  padding: 0;
}

.blogs {
  font-family: thirdfont;
  font-size: 2vw;
  padding: 10%;
  padding-top: 5%;
  color: lightpink;
  text-shadow: white 0px 0px 10px;
  text-shadow: 3px 3px 2px #ffffff, -3px 3px 2px #ffffff, -3px -3px 0 #ffffff,
    3px -3px 0 #ffffff;
}

/* old circle styles just in case */

/* .circle1 {
  width: 20vw;
  height: 20vw;
  border-radius: 30% 60% 50% 40%;
  background: linear-gradient(rgb(227, 200, 204), rgb(255, 255, 255));
  box-shadow: rgb(255, 255, 255) 0.3rem 0.3rem 2rem;
}

.circle2 {
  width: 25vw;
  height: 25vw;
  border-radius: 50% 50% 70% 40%;
  background: linear-gradient(rgb(208, 235, 241), rgb(255, 255, 255));
  box-shadow: rgb(255, 255, 255) 0.3rem 0.8rem 5rem;
}

.circle3 {
  width: 40vw;
  height: 40vw;
  border-radius: 50% 30% 70% 40%;
  background: linear-gradient(rgb(180, 255, 196), rgb(255, 255, 255));
  box-shadow: rgb(255, 255, 255) 0.3rem 0.3rem 2rem;
}

.circle4 {
  width: 30vw;
  height: 30vw;
  border-radius: 50% 70% 60% 80%;
  background: linear-gradient(rgb(216, 197, 223), rgb(255, 255, 255));
  box-shadow: rgb(255, 255, 255) 0.3rem 0.3rem 2rem;
} */

/* Media queries for responsiveness */

/* Ajusting styles for smaller devices (max-width: 200px) */

@media (max-width: 300px) {
  /* .header {
    padding-top: 20%;
  }

  .links {
    margin-top: -20%;
    max-height: 100%;
  } */
}

/* Adjusting styles for small devices (max-width: 350px) */

/* @media (max-width: 350px) {
  .btn {
    width: 20vh;
    font-size: 4vw;
  }

  .btn4 {
    margin-bottom: 10%;
  }

  .teleport {
    padding: 2vh;
    font-size: 5vw;
  }

  .header {
    height: fit-content;
    padding-top: 5%;
  }

  .links {
    margin-top: -30%;
  }
} */

/* Small devices (max-width: 600px) */

@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: 100% 1fr;
    grid-template-rows: 0.1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      'header header header header'
      'links links links links'
      'box1 box1 box1 box1'
      'box2 box2 box2 box2'
      'box3 box3 box3 box3'
      'contain contain contain contain';
  }

  .details,
  .aboutMe,
  .image,
  .blogs {
    font-family: thirdfont;
    font-size: 1rem;
    padding: 10%;
  }

  /* .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;
    grid-template-areas:
      'header header header header header header header header'
      'links links links links links links links links'
      'gap gap gap gap gap gap gap gap'
      'box1 box1 box1 box1 box1 box1 box1 box1'
      'empty empty empty empty empty empty empty empty'
      'box2 box2 box2 box2 box2 box2 box2 box2'
      'empty2 empty2 empty2 empty2 empty2 empty2 empty2 empty2'
      'box3 box3 box3 box3 box3 box3 box3 box3'
      'empty3 empty3 empty3 empty3 empty3 empty3 empty3 empty3'
      'contain contain contain contain contain contain contain contain';
  } */

  /* Adjusting styles for smaller screens */

  h1 {
    padding: 10%;
    margin: 0;
    font-size: 15vw;
    text-align: center;
  }

  .teleport {
    font-size: 6vw;
  }

  .btn {
    margin: 3vw;
    padding: 2%;
    width: 60%;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    padding: 1vw;
    font-size: 3.5vw;
  }

  .linksglass {
    margin: 0;
  }

  h1 {
    padding-bottom: 5%;
  }
}

/* Medium devices */

@media only screen and (min-width: 601px) and (max-width: 899px) {
  .container {
    grid-template-columns: 100% 1fr;
    grid-template-rows: min-content 0.1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
      'header header header header'
      'links links links links'
      'box1 box1 box1 box1'
      'box2 box2 box2 box2'
      'box3 box3 box3 box3'
      'contain contain contain contain';
  }

  .details,
  .aboutMe,
  .image,
  .blogs {
    font-family: thirdfont;
    font-size: 1.5rem;
    padding: 10%;
  }

  h1 {
    margin-left: 0;
    text-align: center;
    padding-top: 10%;
    font-size: 15vw;
  }

  .linksglass {
    margin: 0;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    font-size: 4vw;
  }

  .teleport {
    font-size: 6vw;
  }

  .btn {
    margin: 5%;
    width: 60%;
  }

  /* .btn {
    width: 20vh;
    font-size: 2vw;
  }

  .btn4 {
    margin-bottom: 10%;
  }

  .teleport {
    padding: 1vh;
  } */
}

@media screen and (min-width: 900px) and (max-width: 2000px) {
  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    font-size: 2vw;
  }

  .btn {
    margin: 4%;
    width: 60%;
  }
}
