/* Game board and text not responsive yet*/
table,
html,
body,
h1,
h2,
td {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  max-width: 100%;
  max-height: 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/future-cityscape-purple-desktop-wallpaper-preview.jpg);
  background-size: cover;
}

@font-face {
  font-family: font1;
  src: url(/fonts/sn-pro-font-family-1712119266-0/SNPro-Black-BF65efc64d2a57f.otf);
}

@font-face {
  font-family: font2;
  src: url(/fonts/sn-pro-font-family-1712119266-0/SNPro-Heavy-BF65efc64e7fcf0.otf);
}

.mainContainer {
  width: 100%;
  height: 100%;
  padding: 5%;
  gap: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  aspect-ratio: 1/1;
  height: 70%;
}

table {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  font-family: font2;
  border-spacing: calc(0.5vh + 0.5vw);
}

tr {
  width: 100%;
  height: 30%;
}

td {
  border: 0px;
  border-collapse: collapse;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  text-align: center;
  font-size: 10vh;
  border-radius: calc(1vh + 1vw);
  background-color: rgba(255, 255, 255, 0.441);
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(calc(1vh + 1vw));
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 0 calc(0.5vh + 0.5vw) rgba(0, 0, 0, 0.37);
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  font-family: font1;
}

h1 {
  font-size: calc(3vh + 3vw);
  text-shadow: rgb(255, 142, 242) 0px 0px 10px;
}

h2 {
  font-family: font1;
  font-size: calc(2vh + 2vw);

  text-shadow: rgb(152, 233, 255) 0px 0px 10px;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.642);
  transition: 0.3s;
}

#resetContain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#loseText {
  display: none;
}

button {
  box-shadow: rgb(152, 233, 255) 0px 0px 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-left: 1rem;
  font-size: calc(1vh + 1vw);
  padding: 1vw 2vw;
  border-radius: 10px;
  color: rgb(154, 152, 255);
  font-family: font2;
}

@keyframes textAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes oText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.textAni {
  animation: textAnimation 0.3s ease-in-out;
}

/* body {
  background-color: rgb(116, 91, 91);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5vw;
  color: rgb(255, 255, 255);
}

td {
  width: 10vw;
  height: 10vw;
  text-align: center;
  font-size: 300%;
  border: rgb(255, 255, 255) solid 3px;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2vw;
  color: rgb(255, 255, 255);
}
 */
